driver/topo/*.*
driver/results*
driver/raw_results/
driver/METIS/
driver/GKlib/
driver/batch_test_log
infra/bin/*
infra/tmp/img*
infra/tmp/nodes/*
infra/tmp/nodes/*
infra/tmp/cctr_log
infra/tmp/kern_func
infra/tmp/*_log.txt
infra/tmp/topo/*.txt
run.log
kill.log
pid.txt
/solve.py
__pycache__/
