driver/mnt/
driver/exec_config.json
driver/topo/*.*
driver/results*
driver/METIS/
driver/GKlib/
driver/batch_test_log
infra/bin/*
infra/tmp/
dataproc/tmp/
run.log
kill.log
pid.txt
figures/
raw_results/
/results
/factor.py
/solve.py
perf*
.vscode/
__pycache__/
tstenv/
!placeholder
!infra/tmp/topo/test_topo
!infra/tmp/test_mnt/
!infra/tmp/test_exec_config.json