driver/topo/*.*
driver/results*
driver/raw_results/
driver/METIS/
driver/GKlib/
driver/batch_test_log
infra/bin/*
infra/tmp/img*
infra/tmp/nodes/*
infra/tmp/nodes/*
infra/tmp/ctr_log
infra/tmp/cctr_log
infra/tmp/kern_func
infra/tmp/*_log.txt
infra/tmp/cctr_time.txt
infra/tmp/topo/*.txt
dataproc/tmp/
run.log
kill.log
pid.txt
/results
/solve.py
perf*
.vscode/
__pycache__/